pandas
openpyxl
numpy
reportlab
matplotlib
langchain
langchain-core
python-dotenv
langgraph
google-api-python-client
google-auth-httplib2 
google-auth-oauthlib
streamlit
fastapi
uvicorn
httpx
sse-starlette
gspread
gradio
langchain-groq
mcp
auth
langchain-mcp-adapters
psycopg2-binary
supabase>=2.0.0